:root {
    --background-main: #0D1117;
    --background-secondary: #0B0E14;
    --background-terminal: #07080C;
    --border-main: #40454A;

    --accent: #1053E3;
    --accent-hovered: #0c3ba0;
    --accent-active: #0a3288;
    --accent-subdued: #97B2EE;
    --accent-subdued-hovered: #5673b3;
    --accent-subdued-active: #496399;
    --success: #1CBF27;
    --success-hovered: #27B130;
    --danger: #E31010;
    --danger-hovered: #C91919;
    
    --text-main: #fff;
    --text-secondary: #BFCBD8;
}